RewriteEngine On
RewriteBase /

# This is here for system status logger
RewriteRule ^/?sys/     -       [L]



### Disable /xmlrpc.php
#
# This file is a security liability.
# The reason we keep this file around is because WordPress updates keep bringing
# it back. Therefore, we simply redirect to a substitute handler.
#
RewriteRule   ^/?xmlrpc.php       /xmlrpc-disabled.php   [L]



### Final redirect to WP handler
#
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
