@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GeogrotesqueUltraLight";
  src: url("./fonts/GeogrotesqueUltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueSemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueUltraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueSemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Geogrotesque";
  src: url("./fonts/GeogrotesqueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
